<% if (theme.consent.enable) { %>
  
  <div class="consent-icon" id="consent-icon">
    <a class="button is-success" onclick="return klaro.show();">
      <i class="iconfont icon-consent"></i>
    </a>
  </div>
  
<% } %>
